* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

.first-section {
  background-color: #1f2937;
  font-size: 24px;
  color: #f8faf8;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

/* second section */

.cover {
  background-color: #1f2937;
  display: flex;
  /* justify-content: flex-end;
  align-items: flex-start; */
  padding-left: 30px;
  flex-direction: column;
  
}

.cover-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 10px;
}

.second-p {
  font-size: 18px;
  color: #f9faf8;
}

.cover-btn {
  background-color: #3882f6;
  color: #fff;
  border: 2px solid #3882f6;
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

img{
  width: 250px;
/* max-width: 100%;
height: auto; */
}

/* third section */

.third_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #1f2937;
  margin: 20px;
}

.boxes {
  border: 3px solid #3882f6;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
}

.para {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}
